{% extends "home/base.html" %}
{% load static %}

{% block title %} Calendar {% endblock title %}


{% block head %}
<link rel="stylesheet" href="{% static "home/lib/fullcalendar.css" %}" />

<script src="{% static "home/lib/jquery-3.3.1.min.js" %}"></script>
<script src="{% static "home/lib/moment.js" %} "></script>
<script src="{% static "home/lib/fullcalendar.js" %}"></script>

<script>
$(document).ready(function() {
    $('#calendar').fullCalendar({
        /* defaultDate: '2018-06-14', */
        firstDay: 1, /* start week on monday*/
        editable: true,
        eventLimit: true, // allow "more" link when too many events
        header: {
            left: 'prev, next today',
            center: 'title',
            right: 'month, listWeek', /* 'month, agendaWeek, basicDay' */
        },
        events: [
            {% for i in events %}
            {
                title: "{{ i.event_name}}",
                start: '{{ i.start_date|date:"Y-m-d" }}',
                end: '{{ i.end_date|date:"Y-m-d" }}',
                url: "/event-detail/{{ i.event_id }}/",
                color:"green",
                textColor: "black",
            },
            {% endfor %}
            {% for i in trainings %}
            {
                title: "{{ i.start_time }} - {{ i.location }}",
                start: '{{ i.date|date:"Y-m-d" }}', /* "2018-06-20 08:00 PM",  */
                end: '{{ i.end_time }}',            /* "2018-06-20 10:00 PM", */
                url: "/training-detail/{{ i.id }}/",
                color:"lightblue",
                textColor: "black",
                description: "this is cool"
            },
            {% endfor %}
        ],
        weekNumbers: true,
        weekNumbersWithinDays: true,
    });
});
</script>
{% endblock head %}
    
{% block content %}
<!-- print django messages framework -->
<div class="container">
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
</div>
  
<main>
    <div style="height:80px;"></div>
    <div style="width:60%; margin-left: 280px;">
        <div id="calendar"></div>
    </div>
</main>
{% endblock content %}
