{% extends "home/base.html" %}
{% load static %}

{% block title %} Calendar {% endblock title %}


{% block head %}
<link rel="stylesheet" href="{% static "home/lib/fullcalendar.css" %}" />

<script src="{% static "home/lib/jquery-3.3.1.min.js" %}"></script>
<script src="{% static "home/lib/moment.js" %} "></script>
<script src="{% static "home/lib/fullcalendar.js" %}"></script>
<script type="text/javascript" src="http://cdn.jsdelivr.net/qtip2/3.0.3/jquery.qtip.min.js"></script>

<script>
$(document).ready(function() {
    $('#calendar').fullCalendar({
        defaultDate: '2018-06-14',
        editable: true,
        eventLimit: true, // allow "more" link when too many events
        header: {
            left: 'prev, next today',
            center: 'title',
            right: 'month, basicWeek, basicDay'
        },
        events: [
            {% for i in events %}
            {
                title: "{{ i.event_name}}",
                start: '{{ i.start_date|date:"Y-m-d" }}',
                end: '{{ i.end_date|date:"Y-m-d" }}',
                url: "/event-detail/{{ i.event_id }}/",
                color:"green",
                textColor: "black",
            },
            {% endfor %}
            {% for i in trainings %}
            {
                title: "{{ i.location }}",
                start: '{{ i.date|date:"Y-m-d" }}',
                end: '{{ i.date|date:"Y-m-d" }}',
                url: "/training-detail/{{ i.id }}/",
                color:"gray",
                textColor: "black",
                description: "this is cool"
            },
            {% endfor %}
        ],
    });
});
</script>
{% endblock head %}
    
{% block content %}
<main>
    <div style="height:80px;"></div>
    <div style="width:60%; margin-left: 280px;">
        <div id="calendar"></div>
    </div>
</main>
{% endblock content %}
