{% extends "home/base.html" %}
{% load static %}

{% block title %} Home {% endblock title %}


{% block content %}

<div class="container">
    <!-- print django messages framework -->
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}

    <h1>Choose one of the following</h1>
    <ul>
        <a href="/training/create/"><li>create new training</li></a>
        <ul>
            <a href="/warm-up/create/"><li>create new warm up</li></a>
            <a href="/core/create/"><li>create new core</li></a>
            <a href="/cool-down/create/"><li>create new cooling down</li></a>
        </ul>
        <a href="/training/plan/"><li>plan training</li></a>
        <a href="/all-trainings/"><li>view all trainings</li></a>
    </ul>
</div>    

{% endblock content %}
