{% extends "home/base.html" %}
{% load static %}

{% block title %} All trainings {% endblock title %}

{% block content %}

<div class="container">
    <h1>List of all standard trainings</h1>
    <ul>
        {% for training in trainings_standard %}
            <a href="/training-detail/{{training.id}}/"><li>{{ training }}</li></a>
        {% endfor %}
    </ul>
    <h1>List of planned trainings this week</h1>
    <p><a href="/training-detail/week/{{ weekNumber }}/subscribe">signup for all trainings of this week</a></p>
    <p><a href="/training-detail/week/{{ weekNumber }}/unsubscribe">unsubscribe for all trainings of this week</a></p>
    <ul>
        {% for training,user_is_present in trainings_future_week_dict.items %}
            <li><a href="/training-detail/{{training.id}}/">{{ training }}</a> -
                {% if user_is_present %} <a href="/training-detail/{{ training.id }}/unsubscribe/?next={{next}}"> present - unsubscribe </a>
                {% else %} <a href="/training-detail/{{ training.id }}/subscribe/?next={{next}}">signup </a>
                {% endif %}
            </li>
            <ul>
                <li>{{ training.date }}</li>
                <li>{{ training.location }}</li>
                <li>{{ training.core.content_1 }}</li>
                <li>{{ user_is_present }}</li>      
            </ul>
        {% endfor %}
    </ul>
    <h1>List of planned trainings next week</h1>
    <p><a href="/training-detail/week/{{ weekNumberPlus }}/subscribe">signup for all trainings of next week</a></p>
    <p><a href="/training-detail/week/{{ weekNumberPlus }}/unsubscribe">unsubscribe for all trainings of next week</a></p>
    <ul>
        {% for training,user_is_present in trainings_future_next_week_dict.items %}
            <li><a href="/training-detail/{{training.id}}/">{{ training }}</a> -
                {% if user_is_present %} <a href="/training-detail/{{ training.id }}/unsubscribe/?next={{next}}"> present - unsubscribe </a>
                {% else %} <a href="/training-detail/{{ training.id }}/subscribe/?next={{next}}">signup </a>
                {% endif %}
            </li>
            <ul>
                <li>{{ training.date }}</li>
                <li>{{ training.location }}</li>
                <li>{{ training.core.content_1 }}</li>
                <li>{{ user_is_present }}</li>      
            </ul>
        {% endfor %}
    </ul>
</div>    

{% endblock content %}
