{% extends "home/base.html" %}
{% load static %}

{% block title %} All trainings {% endblock title %}

{% block content %}

<div class="container">
    <ul>
        <li>name: {{ training.name }}</li>
        <li>date: {{ training.date }}</li>
        <li>start time: {{ training.start_time }}</li>
        <li>location: {{ training.location }}</li>
        <li>riders:
            <ul>
            {% for rider in riders %}
                <li>{{ rider }}</li>
            {% endfor %}
            </ul>
        </li>
        <li></li>
        </ul>
</div>    

{% endblock content %}

{% load static %}


