{% extends "home/base.html" %}
{% load static %}

{% block title %} All trainings {% endblock title %}

{% block content %}

<div class="container">
    <div class="col-md-3">
        {% if not training.is_standard%}
            <div class="side-nav">
                <p class="glyphicon glyphicon-map-marker padding-right-40" aria-hidden="true"> {{ training.location }}  </p> <br>
                <p class="glyphicon glyphicon-calendar padding-right-40" aria-hidden="true"> {{ training.date }}  </p> <br>
                <p class="glyphicon glyphicon-time" aria-hidden="true"> {{ training.start_time }}</p> <br>
                {% if request.user.is_staff %}
                <p><a href="/training-detail/{{ training.id }}/update/"><span class="glyphicon glyphicon-edit">Update training</span></a></p>
                {% endif %}
            </div>
            <div class="side-nav">
                <h6 class="gray">Trainer</h6>
                {% if trainers %}
                    {% for trainer in trainers %}
                        <h4>{{ trainer.user.username }}</h4>
                    {% endfor %}
                {% else %}
                    <h4>geen trainer</h4>
                {% endif %}
            </div>
            <div class="side-nav">
                <h6 class="gray">Atleten</h6>
                {% if riders %}
                    {% for rider in riders %}
                        <h4>{{ rider.user.username }}</h4>
                    {% endfor %}
                {% else %}
                    <h4>geen atleten</h4>
                {% endif %}
            </div>
        {% else %}
            {% if request.user.is_staff %}
            <div class="side-nav">
                <p><a href="/training-detail/{{ training.id }}/update/"><span class="glyphicon glyphicon-edit">Update training</span></a></p>
            </div>
            {% endif %}
        {% endif %}
    </div>
    <!-- Main content -->
    <div class="col-md-9">
        <div class="row profile-content">
            <h2>  {{ training.name }}</h2>
            <div class="col-md-10 col-md-offset-1">
                <hr>
                <h6 class="gray">Opwarming</h6>
                <h4>{{ training.warm_up.content }}</h4>
                <hr>
                <h6 class="gray">Core</h6>
                <h4>{{ training.core.content_1 }}</h4>
                <h4>herhaal: {{ training.core.content_1_repeat }} maal</h4>
                <hr>
                <h6 class="gray">uitrijden</h6>
                <h4>{{ training.cool_down.content }}</h4>
                <hr>
            </div>
        </div>
        <!-- <div class="row profile-tab">
        <ul class="tab">
        <a href="#"><li class="col-md-4 tablinks" onclick="openTab(event, 'Education')">Before</li></a>
        <a href="#"><li class="col-md-4 tablinks" onclick="openTab(event, 'Extra-curricular')">During</li></a>
        <a href="#"><li class="col-md-4 tablinks" onclick="openTab(event, 'More-info')">After</li></a>
        </ul>
        </div>
        <div class="row profile-tab-content">
            <div id=Education class="tabcontent">
                <h3>Before</h3>
                <p>Here comes extra specification about Before</p>
            </div>
            <div id=Extra-curricular class="tabcontent">
                <h3>During</h3>
                <p>Here the during attention points will be displayed</p>
            </div>
            <div id=More-info class="tabcontent">
                <h3>After</h3>
                <p>Here some more background information what to do after training</p>
            </div>
        </div> -->
    </div> <!-- profile content -->
  </div> <!-- container --> 

{% endblock content %}

{% block script %}
<script>
function openTab(evt, tabName) {
    var i, tabcontent, tablinks;
    tabcontent = document.getElementsByClassName("tabcontent");
    for (i = 0; i < tabcontent.length; i++) {
        tabcontent[i].style.display = "none";
    }
    tablinks = document.getElementsByClassName("tablinks");
    for (i = 0; i < tablinks.length; i++) {
        tablinks[i].className = tablinks[i].className.replace(" active", "");
    }
    document.getElementById(tabName).style.display = "block";
    evt.currentTarget.className += " active";
    }
</script>
{% endblock script%}
